.bgc-dark {
  background-color: #2d303a;
}
.bgc-danger {
  background-color: #f06c64;
}
.bgc-light {
  background-color: #f2f2f2;
}


.site-header {
  padding-top: 30px;
  padding-bottom: 30px;
}

.h-main {
  font-family: lobster;
  font-size: 30px;
}



.site-footer {
  padding-top: 20px;
  padding-bottom: 40px;

}




section[class*=section-] {
  padding-top: 65px;
  padding-bottom: 65px;

}
.section-carousel  img {
  width: 330px;
  height: 245px;
 
}


@media (min-width: 930px) {
  .section-carousel  img {
  width: 900px;
  height: 500px;
 
}
}

.section-services {

}

.section-portfolio {

}

.section-team {

}
.section-contact {

}

.section-contact .form-control {
  background-color: #d6564f;
  border-color: transparent;
}

.gallery-item {
  padding-top: 15px;
  padding-bottom: 15px;
}

.gallery-item a {
  display: block;
}

.f-word {
  font-family: Pacifico;
  font-size: 30px;
}

.bali {
  font-family: lobster;
  font-size: 20px;
}


.catalog  {
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
  font-family: Bad Script!important;
  color: #000;
  font-weight: bold;

}




ul{
  display: block;
  margin: 15;
  padding: 0;
}
li{
  display: inline-block;
}



#contenedor{
  margin-top: 20px;
  width:100%;
  height:100%;
  margin:0 auto 0 auto;
  overflow:hidden;
  position: relative;
}

@media(min-width: 1000px){
  #contenedor{
  margin-top: 20px;
  width:50%;
  height:100%;
  margin:0 auto 0 auto;
  overflow:hidden;
  position: relative;
}
#slider{
  width: 100%; /* *600px la dimension de la imagen */
  height: 500px;
  position: relative;
  transition: all 500ms ease-in-out;
  -webkit-filter: grayscale(0%); /* funciona correctamente en Chrome solo webKit */
  -webkit-backface-visibility: hidden;

}

.mini img{
width: 80px;
height: 80px;
margin-top: 20px;
}
}


#slider{
  width: 1400px; /* *600px la dimension de la imagen */
  height: 500px;
  position: relative;
  transition: all 500ms ease-in-out;
  -webkit-filter: grayscale(0%); /* funciona correctamente en Chrome solo webKit */
  -webkit-backface-visibility: hidden;
}
#slider div{
  background: rgba(0,0,0,.5);
  position: absolute;
  padding: 7px;
  bottom: 2px;
  left: 0px;
  width: 100%;
}

#slider li:nth-child(1){
  position: absolute;
  top: 0px;
  left: 0px;
}
#slider li:nth-child(2){
  position: absolute;
  top: 0px;
  left: 600px;
}
#slider li:nth-child(3){
  position: absolute;
  top: 0px;
  left: 1200px;
}


.mini{
  -webkit-filter: grayscale(0%);
  cursor: ew-resize;
  float: left;
  margin-top: 500px;
  width: 25%;
  transition: all .5s linear;
}

.mini:hover{
  -webkit-filter: grayscale(0%);
}

#contenedor div:nth-child(1):hover ~ #slider{
  transform: translateX(0px) translateZ(0px);
  -webkit-filter: grayscale(0%);
}
#contenedor div:nth-child(2):hover ~ #slider{
  transform: translateX(-600px) translateZ(0px);
  -webkit-filter: grayscale(0%);
}
#contenedor div:nth-child(3):hover ~ #slider{
  transform: translateX(-1200px) translateZ(0px);
  -webkit-filter: grayscale(0%);
}
#contenedor div:nth-child(4):hover ~ #slider{
  transform: translateX(-1800px) translateZ(0px);
  -webkit-filter: grayscale(0%);
}

@media(max-width: 420px){
#contenedor {
  padding-right: 20px;
  margin-right: -16px;
}


  #slider{
  width: 100%; /* *600px la dimension de la imagen */
  height: 200px;
  position: relative;
  transition: all 500ms ease-in-out;
  -webkit-filter: grayscale(0%); /* funciona correctamente en Chrome solo webKit */
  -webkit-backface-visibility: hidden;
}

#slider img {
  width: 300px;
  height: 300px;
}

div.mini {
  margin-top: 350px;
  padding-right: 20px;
  margin-right: 15px;
}

}

.description {
  font-size: 18px;
  font-weight: bold;
  margin-top: 50px;

}


